################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/df-egg/.vs/dragonfly-egg/v15
/dragonfly-naiad/dragonfly-naiad/x64/Debug
/dragonfly-naiad/dragonfly-naiad/DF_TEST.log
/dragonfly-naiad/.vs/dragonfly-naiad/v15
